<a class="card card-custom" href="{% url 'single' product.categ_id.0 product.id %}" data-toggle="tooltip" data-placement="top" title="Clic para ver detalles">
    <div class="card-custom-img zoom"
        style="background-image: url('https://lymservicios.odoo.com/web/image?model=product.template&id={{ product.id }}&field=image'); background-size: contain; background-repeat: no-repeat;  background-position: center; height: 300px;">
    </div>
    <div class="card-body"></div>
    <div class="card-footer card-footer-custom">
        <h5>{{ product.name }}</h5>
    </div>
</a>