<div class="card card-custom">
    <div class="card-body">
        <form action="{% url 'filter' %}" method="GET">
            <div class="form-row justify-content-center">
                <div class="col-10 col-md-2 mb-2">
                    <input type="text" name="hp" class="form-control" value="{{ request.GET.hp }}" placeholder="HP">
                </div>
                <div class="col-2 col-md-1 mt-2">
                    <label>HP</label>
                </div>

                <div class="col-10 col-md-2 mb-2">
                    <input type="text" name="psig" class="form-control" value="{{ request.GET.psig }}"
                        placeholder="PSIG">
                </div>
                <div class="col-2 col-md-1 mt-2">
                    <label>PSIG</label>
                </div>

                <div class="col-10 col-md-2 mb-2">
                    <input type="text" name="cfm" class="form-control" value="{{ request.GET.cfm }}" placeholder="CFM">
                </div>
                <div class="col-2 col-md-1 mt-2">
                    <label>CFM</label>
                </div>

                <button class="btn-search-filter ml-2" type="submit"><i class="fas fa-search fa-lg"></i></button>

                <button class="btn btn-block btn-primary-custom btn-search-filter-sm" type="submit">Buscar</button>
            </div>
        </form>
    </div>
</div>