<footer id="main-footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <a href="#" class="btn-link"><i class="fas fa-phone"></i> (662) 110 0300</a>
            </div>
            <div class="col-md-4">
                <a href="mailto:ventas@lymservicios.mx?Subject=Contacto%www.compresoresaire.com" target="_top" class="btn-link"><i class="fas fa-envelope-open"></i> ventas@lymservicios.mx</a>
            </div>
        </div>
    </div>
    <div class="mt-4 text-center">
        Copyright &copy; L y M Servicio Mar de Cortez S de RL <span class="year"></span>. Todos los derechos
        reservados.
    </div>
</footer>