{% extends "base.html" %}
{% load static %}
{% block title %} | Búsqueda {% endblock %}
{% block content%}
<div class="container container-custom">
    {% if products %}
    {% include 'partials/_filter.html' %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            {% include 'partials/_card.html' %}
        </div>
        {% endfor %}

        {% else %}
        <div class="card card-custom">
            <div class="card-body">
                <div class="col-md-6">
                    <p>No se encontró el producto, contáctanos seguro te podemos ayudar</p>
                    {% include 'products/forms/_contact.html' %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}