{% extends "base.html" %}
{% load static %}
{% block title %} | Búsqueda {% endblock %}
{% block content%}
<div class="container container-custom">
    <h1 class="title">Resultados para: {{ request.GET.q }}</h1>
    {% if products %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            {% include 'partials/_card.html' %}
        </div>
        {% endfor %}

        {% else %}
        <div class="card card-custom mt-4">
            <div class="card-body">
                <div class="col-md-6">
                    <h3>No se encontró el producto, contáctanos seguro te podemos ayudar</h3>
                    {% include 'pages/partials/_form.html' %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}