{% extends 'base.html' %}
{% block title %} | {{ product.name }} {% endblock %}
{% load static %}
{% block content %}
    <div class="container container-custom">
        {% include 'products/partials/_breadcrumb_level3.html' %}
        <div class="card-group">

            <div class="card" style="max-width: 40rem;">
                <div class="card-body text-center">
                    {% include 'products/partials/_image.html' %}
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <a href="{% url 'index' %}" class="btn-link"><i class="fas fa-chevron-left"></i> Regresar a la lista
                        de productos</a>
                    <h1 class="title">{{ product.name }}</h1>
                    {% include 'products/partials/_price.html' %}
                    {% include 'products/partials/_stock.html' %}
                    {% include 'products/partials/_description.html' %}
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-dark mb-4"><strong>Descripción</strong></h5>
                    <p>{{ product.description_sale|linebreaksbr }}</p>
                    <h5 class="text-dark mb-4"><strong>Número de parte</strong></h5>
                    <p>{{ product.default_code }}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="text-dark mb-4"><strong>Solicitar cotización</strong></h5>
                    {% include 'products/forms/_product.html' %}
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}