<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Página de inicio</a></li>
        <li class="breadcrumb-item">
            <a href="{% url 'products.category' product.categ_id.0 %}">
            {% if product.categ_id.0 == 80 or product.categ_id.0 == 83 %}
                {{ product.categ_id.1|slice:"35:" }}
            {% else %}
                {{ product.categ_id.1|slice:"43:" }}
            {% endif %}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.default_code }}</li>
    </ol>
</nav>