{% load humanize %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ product.name }}",
  "image": [
    "https://lymservicios.odoo.com/web/image?model=product.template&id={{ product.id }}&field=image"
  ],
  "brand": {
    "@type": "brand",
    "name": "{{ product.x_studio_field_04Kkp.1 }}"
  },
  "description": "{{ product.description }}",
  "offers": {
    "@type": "AggregateOffer",
    "lowPrice": "{{ product.list_price }}",
    "highPrice": "{{ product.list_price }}",
    "priceCurrency": "MXN"
  }
}
</script>