{% extends 'base.html' %}
{% block title %} | {{ product.name }} {% endblock %}
{% load static %}
{% block content %}

    <div class="container container-custom">
        {% include 'products/partials/_breadcrumb_level3.html' %}
        <div class="card-group">
            <div class="card" style="max-width: 40rem;">
                <div class="card-body text-center">
                    {% include 'products/partials/_image.html' %}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <a href="{% url 'index' %}" class="btn-link"><i class="fas fa-chevron-left"></i>
                        Regresar a la lista de productos
                    </a>
                    {% include 'products/partials/_title.html' %}
                    {% include 'products/partials/_price.html' %}
                    {% include 'products/partials/_stock.html' %}
                    {% include 'products/partials/_description.html' %}
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-dark mb-4"><strong>Características</strong></h5>
                    <!--<p class="text-black-50">{{ product.description_sale|linebreaksbr }}</p>-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Marca:</label>
                            <p>{{ product.x_studio_field_04Kkp.1 }}</p>
                            <label>Capacidad del tanque:</label>
                            <p>{{ product.x_studio_field_pxZa1 }} gal</p>
                            <label>Flujo máximo:</label>
                            <p>{{ product.x_studio_field_pYf9c }} cfm</p>
                            <label>Peso:</label>
                            <p>{{ product.weight }} kg</p>
                        </div>
                        <div class="col-md-6">
                            <label>Modelo:</label>
                            <p>{{ product.x_studio_field_RHdO5 }}</p>
                            <label>Potencia:</label>
                            <p>{{ product.x_studio_field_ZY0DV }} hp</p>
                            <label>Presión máxima:</label>
                            <p>{{ product.x_studio_field_9fT7c }} psi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="text-dark mb-4"><strong>Solicitar cotización</strong></h5>
                    {% include 'products/forms/_product.html' %}
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}